@using WebAppFcDeHoek.Core
@using WebAppFcDeHoek.Structs
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @FcDeHoekRuntimeManager.ClubName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="header header-fixed-top">
    
    @*<div class="header headerImage"><img src="../../Images/TeamPic1.jpg"></div>*@
</div>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Home), "Index", "Home")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">@eNavigation.GetNavigationDescription(eNavigation.Team)<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Board), "Board", "Team")</li>
                        <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Players), "Players", "Team")</li>
                        <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Records), "Index", "Records")</li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">@eNavigation.GetNavigationDescription(eNavigation.Calendar)<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.GamesDeHoek), "Index", "Calendar")</li>
                        <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.AllGames), "AllGames", "Calendar")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Ranking), "Index", "Ranking")</li>
                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.History), "Index", "History")</li>
                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Links), "Index", "Links")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (@Session["IsAdmin"] != null)
                {
                    var isAdmin = false;
                    bool.TryParse(Session["IsAdmin"].ToString(), out isAdmin);
                    if (isAdmin)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">@eNavigation.GetNavigationDescription(eNavigation.Editor)<span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.EditFcDeHoekGame), "FcDeHoekGameDetail", "FcDeHoekGame")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManagePersons), "Index", "PersonManager")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManageUsers), "Index", "User")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManageGames), "Index", "GameManager")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManageTeams), "Index", "UnderConstruction")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManageSeasons), "Index", "Season")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.ManageHistory), "Index", "UnderConstruction")</li>
                                <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.EditScores), "EditScores", "Score")</li>
                                <li>@Html.ActionLink("HistoricStats", "Index", "HistoricStats")</li>
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.LogOut), "LogOut", "Login")</li>

                }
                else
                {
                    <li>@Html.ActionLink(@eNavigation.GetNavigationDescription(eNavigation.Login), "Index", "Login")</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        @*<div class="footer footer-fixed-bottom">*@
            <div class="row-sponsorFooter">
                <h1>Met dank aan onze sponsors:</h1>
                <div class="col-md-4">
                    <h2>Joeri Veryser bvba</h2>
                    <p>
                        <img class="sponsorImage" src="http://gdurl.com/lluc" alt="Can't load Image'" />
                    </p>
                    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
                </div>
                <div class="col-md-4">
                    <h2>Andy Claeys</h2>
                    <p>
                        Schrijn- en timmerwerken Claeys Andy <br />
                    </p>
                    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
                </div>
                <div class="col-md-4">
                    <h2>Café Den Oek</h2>
                    <p>
                        Stationsstraat 98, 8400 Oostende
                    </p>
                    <p>
                        <img class="sponsorImage" src="../../Images/Den_Oek1.jpg" alt="Can't load Image'" />
                    </p>
                    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
                </div>
            </div>
        @*</div>*@
            <div class="modal-footer-copywright">
                <p>&copy; @DateTime.Now.Year - @FcDeHoekRuntimeManager.ClubName</p>
            </div>

    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
