@using WebAppFcDeHoek.Structs
@model WebAppFcDeHoek.Models.CalendarModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Wedstrijden @Model.SeasonDescription</h2>

<table class="table table-bordered table-responsive table-hover">
    
    <tbody>
        <tr>
            <th>Datum</th>
            <th>Thuisploeg</th>
            <th>Uitploeg</th>
            <th>Uitslag</th>
            <th>Competitietype</th>
        </tr>

    @foreach (var match in Model.Games)
    {
        var cssClass = match.IsNextGame ? "prince" : match.Competition == eCompetitionType.GetCompetitionDescription(eCompetitionType.Cup) ? "beker" : "";
        var cssResult = match.GameResult == eResult.Won ? "goodresult" : match.GameResult == eResult.Lost ? "badresult" : "";
        <tr>
            <td hidden="hidden">IdGame = @match.IdGame</td>
            <td>@match.MatchDay.ToString("dd/MM/yyyy")</td>
            <td hidden="hidden">IdHomeTeam = @match.IdHomeTeam</td>
            <td>@match.HomeTeam</td>
            <td hidden="hidden">IdAwayTeam = @match.IdAwayTeam</td>
            <td>@match.AwayTeam</td>
            <td class=@cssResult>@match.Result</td>
            <td>@match.Competition</td>
        </tr>
    }

    </tbody>
</table>

