@model WebAppFcDeHoek.Models.HomeModel
@{
    ViewBag.Title = Model.TeamName;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        @Model.TeamName is een voetbalclub actief in de @Model.CurrentDivision van het @Model.ConvenantName verbond.
        Thuiswedstrijden worden gespeeld op @Model.SportPark (@Model.Region). Supporters zijn altijd welkom! <br/><br/>
        Wedstrijden in het @Model.ConvenantName verbond worden afgewerkt op @Model.TimePeriod.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Joeri Veryser bvba</h2>
        <p>
            <img width="300" height="200" src="http://gdurl.com/lluc" alt="Can't load Image'"/>
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Andy Claeys</h2>
        <p>
            Schrijn- en timmerwerken Claeys Andy <br/>
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Café Sportwereld</h2>
        <p>
            Stationsstraat 98, 8400 Oostende
        </p>
        <p>
            <img width="300" height="200" src="http://gdurl.com/7wLy" alt="Can't load Image'"/>
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>